* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

.menu-container {
  color: #fff;
  background-color: #5995da;
  padding: 1em;
  display: flex;
  justify-content: center;
}

.menu {
  width: 900px;
  /* border: 1px solid #fff; */
  display: flex;
  justify-content: space-between;
}

.signup {
  margin-left: auto;
}

.login {
  margin-left: 1em;
}

.header-container {
  display: flex;
  justify-content: center;
  background-color: #d6e9fe;
  color: #5995da;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  height: 300px;
}

.subscribe,
.social {
  align-self: flex-end;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.photo-grid-item {
  width: 300px;
  height: 300px;
}

.first-item {
  order: 1;
}

.last-item {
  order: -1;
}

.footer {
  display: flex;
}

.footer-item {
  height: 200px;
  background-color: #d6e9fe;
  flex: 1;
}

.footer-one,
.footer-three {
  flex: initial;
  width: 300px;
}